AWS_REGION=ap-northeast-2
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0

KB_LOCAL_PATH=/app/kb_vector_db
KB_COLLECTION_NAME=lpi_interactions
KB_TOP_K=3

# 로컬 테스트용
USE_LOCAL_TEST=false
# GEMINI_API_KEY=
# GEMINI_MODEL_ID=gemini-1.5-pro
OPENAI_API_KEY=
OPENAI_MODEL_ID=gpt-4o-mini
DB_API_URL=http://localhost:8006

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# AgentCore Memory
USE_MEMORY=false
MEMORY_ID=
